@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Lexend+Deca&display=swap');

html {
    font-family: "Inter", serif;
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--fundo-principal);
}

.preview-card {
    background-color: var(--fundo-do-cartao);
    display: flex;
    max-width: 1110px;
    border-radius: 10px;
}

.preview-card .informations-card {
    padding: 72px 110px 60px 72px;
}

.preview-card .informations-card .title {
    color: var(--titulo-principal-estatisticas);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 42px;
    margin-bottom: 30px;
}

.preview-card .informations-card .title strong {
    color: var(--destaque);
}

.preview-card .informations-card p {
    color: var(--paragrafo-principal);
    line-height: 23px;
    margin-bottom: 76px;
}

.preview-card .informations-card .stats {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    letter-spacing: .5px;
}

.preview-card .informations-card .stats li span {
    font-size: 25px;
    color: var(--titulo-principal-estatisticas);
}

.preview-card .informations-card .stats li h3 {
    margin-top: 5px;
    text-transform: uppercase;
    color: var(--titulos-de-estatisticas);
    font-family: "Lexend Deca", serif;
    font-weight: 400;
    font-size: 13px;
    /* letter-spacing: 0.5px; */
}

.preview-card .image-card {
    max-height: 446px;
    position: relative;
}

.preview-card .image-card img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.preview-card .image-card::after {
    content: "";
    position: absolute;
    background-color: var(--destaque);
    opacity: .6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}